@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибочка";
}

<h1 class="text-danger">ОшИбОчКа</h1>
<h2 class="text-danger">При запросе у вас Ошибочка:(</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

